* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fill_box {
    display: flex;
    justify-content: center;
    gap: 10px;    
}
input {
    height: 42px;
    width: 320px;
    border-radius: 10px;
    border: 2px solid #007FFF;
    outline: none;
}
input:focus {
    border: 2px solid #0071E3;
    
}
button {
    height: 42px;
    width: 155px;
    border-radius: 10px;
    background-color: #0071E3;
    color: white;
    border: none;
    cursor: pointer;
}
button:active {
    background-color: #1a7fe4;
}

h1 {
    text-align: center;
    padding: 50px 0 20px;
    font-size: 50px;
    font-weight: 700;
}

.line {
    height: 1px;
    width: 1000px;
    background-color: lightgray;
    margin: 30px auto 20px;
}
.result { 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 30px;
    width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
.result .p {
    height: 90px;
    width: 280px;
    background-color:#F0F0F0;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden; 
    position: relative;
    word-wrap: break-word;


}
.result .p img {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.li-active {
    color: #555;
    text-decoration: line-through;
    background: #000;
}

.DateHistory {
    /* background-color: red; */
    color: blue;
    font-size: 20px;
    width: 200px;
    height: 20px;
    display: flex;
}

.layer {
    height: 20px; /* Высота слоя */
    background-color: aqua; /* */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
    
   }





   /* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
    background-color: #f80808;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; Может быть больше или меньше, в зависимости от размера экрана */
    height: 400px;
    width: 600px;
  }

  .modal-content p {
    font-size: 40px;
    font-weight: 600;
    color:
    #000000;
    text-align: center;
  }
  .modal-content input {
    height: 100px;
    width: 200px;
  }
  
  /* Кнопка закрытия */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




  /* Модальный заголовок */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Модальное тело */
  .modal-body {padding: 2px 16px;}
  
  /* Модальный нижний колонтитул */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Модальное содержание */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Добавить анимация */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
   